@import "variables";
@import "extends";
footer {
  background: #f9f9f9;
  clear: both;
  width: 100%;
  padding: 50px 0 0 0;
  .footerheading {
    font-family: "Raleway-Bold";
    color: $brown;
    margin-bottom: 20px;
  }
  a {
    font-size: 13px;
    line-height: 32px;
    font-family: "Raleway-Regular";
    &:hover {
      text-decoration: underline;
      color: $lightbrown;
      font-weight: bold;
    }
  }
  p {
    font-size: 13px;
    line-height: 25px;
    font-family: "Raleway-Regular";
  }
}

.shfooter .collapse {
  display: inherit;
}
.bottom-footer {
  background-color: $lightgrey;
}

.resize {
  margin-top: 3rem;
  font-size: 1.25rem;
  text-align: center;
}
/*RESIZESCREEN ANIMATION*/
.fa-angle-double-right {
  animation: rightanime 1s linear infinite;
}

.fa-angle-double-left {
  animation: leftanime 1s linear infinite;
}
@keyframes rightanime {
  50% {
    transform: translateX(10px);
    opacity: 0.5;
  }
  100% {
    transform: translateX(10px);
    opacity: 0;
  }
}
@keyframes leftanime {
  50% {
    transform: translateX(-10px);
    opacity: 0.5;
  }
  100% {
    transform: translateX(-10px);
    opacity: 0;
  }
}
@media (max-width: 1024px) {
  footer {
    iframe {
      width: 100%;
      height: auto;
    }
  }
}
@media (max-width: 767px) {
  footer {
    padding: 20px 0 0 0;
    iframe {
      width: 100%;
      margin-top: 20px;
    }
  }
  .shfooter ul {
    margin-bottom: 0;
  }

  .shfooter .collapse {
    display: none;
  }

  .shfooter .collapse.show {
    display: block;
  }

  .shfooter .title .fa-angle-up,
  .shfooter .title[aria-expanded="true"] .fa-angle-down {
    display: none;
  }

  .shfooter .title[aria-expanded="true"] .fa-angle-up {
    display: block;
  }

  .shfooter .navbar-toggler {
    display: inline-block;
    padding: 0;
  }

  .bottom-footer {
    ul {
      margin-bottom: 20px;
    }
  }
}
