@import "variables";
@import "extends";
body * {
  outline:  none !important;
}
section {
  &.collaborator-sec {
    float: left;
    width: 100%;
    .main-title {
      font-family: "Raleway-Bold";
      color: #603312;
      font-size: 35px;
      line-height: 33px;
      margin: -80px 0px 15px 0px;
    }
    .para {
      font-family: "Raleway-Semibold";
      color: #000000;
      font-size: 14px;
      line-height: 24px;
    }
    .box {
      background: #FFFFFF 0% 0% no-repeat padding-box;
      box-shadow: 0px 0px 6px #00000029;
      text-align: center;
      margin: 0px 0px 30px 0px;
      padding: 25px 25px;
      float: left;
      width: 100%;
      .para {
        font-family: "Raleway-Medium";
        color: #000000;
        font-size: 14px;
        line-height: 24px;
        float: left;
        width: 100%;
        padding: 0px 10%;
      }
      .img {
        float: left;
        width: 100%;
        margin: 0px 0px 20px 0px;
        display: table;
        height: 200px;
        text-align: center;
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
        height: 200px;
        img {
          width: 50%;
          display: table-cell;
          vertical-align: middle;
          height: auto;
          margin: 0 auto;
        }
      }
    }
    .four {
      .box {
        .img {
          img {
            width: 75%;
          }
        }
      }
    }
    .five {
      .box {
        .img {
          img {
            width: 75%;
          }
        }
      }
    }
    .six {
      .box {
        .img {
          img {
            width: 80%;
          }
        }
      }
    }
  }
}
.mb30 {
  margin-bottom: 30px;
}
.mb50 {
  margin-bottom: 50px;
}
.ogfarm-main .nav-tabs .nav-link.active {
    color: #495057;
    background-color: #d8ddd3!important;
    /* border-color: #dee2e6 #dee2e6 #fff; */
}
.ogfarm-main {
  z-index: 9;
  position: relative;
  &.smartsgriculture {
    .heading {
      margin-top: -80px;
    }
    .tabslist-wrapper {
     background: #557A35;
    padding: 30px;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    position: absolute;
    top: -75px;
    left: 70px;    float: left;
    width: 100%;
      &::after {
        content: "";
        background: #557A35;
        height: 100%;
        width: 150px;
        right: -120px;
        top: 0%;
        position: absolute;
        z-index: -1;
      }
      .sub-heading {
        color: white;
        padding-left: 30px;
        position: relative;
        &:before {
          content: '';
          background-image: url(../../../assets/kiaar-web/images/research/research-white-icon.svg);
          width: 20px;
          height: 30px;
          position: absolute;
          background-repeat: no-repeat;
          background-position: center;
          left: 0;
        }
      }
      .nav-link {
        color: #fff;
        opacity: 0.8;
        border: none;
        position: relative;
        padding-left: 30px;
        &::before {
          content: '';
          background-image: url(../../../assets/kiaar-web/images/research/arrow-white.svg);
          width: 20px;
          height: 30px;
          position: absolute;
          background-repeat: no-repeat;
          background-position: center;
          left: 0;
          top: 5px;
        }
        &.active {
          background: transparent;
          color: #fff;
          opacity: 1;
          text-decoration: underline;
        }
      }
    }
    .sub-subheading {
      font-size: 14px;
      font-family: "Raleway-Semibold";
      line-height: 37px;
      color: #f0cd3d;
    }
    .nav-tabs {
      border: none;
      margin: 0 0 30px 0;
      padding: 0;
      .nav-item {
        margin: 0;
        width: 100%;
        border-bottom: 1px solid #979696;
        border-bottom: none;
        border-width: 0.8px;
        position:   relative;
        a {
          &:hover {
            background: transparent;
          }
          &.active {
            &:hover {
              background: transparent;
            }
          }
        }
      }
       .nav-item:after {
                content: "";
    width: 80%;
    background-color: #979696;
    height: 1px;
    position: absolute;
    left: 0px;
    bottom: 0px;

       }
    }
    .tabsmainsecs {
      .nav-tabs {
        display: block;
      }
      ol {
        &.olist {
          font-size: 16px;
          line-height: 27px;
          color: #557A35;
          font-family: "Raleway-Bold";
          margin: 30px 0;
          font-family: "Raleway-Semibold";
          padding: 0px 0px 0px 0px;
          margin: 20px 0px 30px 0px;
          li {
            margin: 0px 0px 8px 0px;
          }
        }
      }
      .main-content {
        float: left;
        width: 100%;
        .title {
          font-size: 16px;
          line-height: 27px;
          color: #557A35;
          font-family: "Raleway-Semibold";
          margin: 0px 0px 0px 0px;
          float: left;
          width: 100%;
        }
        p {
          span {
            font-family: "Raleway-Medium";
            color: #000;
            font-family: "Raleway-Semibold";
          }
          span.list-title {
    margin-bottom: 15px;
    float: left;
    width: 100%;
    display: block;
}
        }
        .img {
          float: left;
          width: 100%;
          margin: 0px 0px 15px 0px;
          img {
            width: 60%;
            float: left;
          }
        }
        .mb50 {
          margin-bottom: 50px;
        }
        .mb30 {
          margin-bottom: 30px;
        }
        .col-md-6 {
          img {
            width: 100%;
          }
        }

        .title {
          &.big {
            font-family: "Raleway-Semibold";
            font-size: 24px;
            line-height: 41px;
            margin-bottom: 0px;
            .img {
              float: left;
              width: 40px;
              margin-right: 15px;
              img {
                width: 100%;
              }
            }
          }
        }



      }

  .card-header {
    background: transparent;
    padding: 0px;
    border: none;
    button {
      font-size: 16px;
      font-family: "Raleway-Semibold";
      line-height: 37px;
      color: #f0cd3d;
      padding: 0px;
      background: transparent !important;
      position: relative;    width: 100%;
    text-align: left;
      &:after {
         content: "_";
    font-size: 20px;
    font-weight: bold;
    font-family: sans-serif;
    position: absolute;
    right: 0px;top: -8px;
      }
    }
    button.collapsed:after {
        content: "+";font-size: 20px;
    font-weight: bold;
    font-family: sans-serif;
    position: absolute;
    right: 0px;top: 0px;
    }
  }
  .card {
    background: transparent;
    border: none;
  }
  .card-body {
    padding: 0px 0px 0px 10px;
  }


    }
  }
  &.sustainable {
    .tabsmainsecs {
      .main-content {
        .title {
          font-size: 18px;
          line-height: 30px;
          color: #557A35;
          font-family: "Raleway-bold";
          margin: 0px 0px 15px 0px;
          float: left;
          width: 100%;
        }
        .para {
          span {
            display: block;
            width: 100%;
            font-family: "Raleway-Medium";
            font-family: "Raleway-Semibold";
            color: #000;
          }
        }
      }
    }
  }
  .bgimgwrapper {
    top: 0%;
    right: 0px;
    img {
      width: 130%;
      position: relative;
      top: -45%;
    }
  }
}
.sub-heading {
  color: #603312;
  font-size: 25px;
  line-height: 33px;
  font-family: "Raleway-Bold";
  margin-bottom: 20px;
}
.molecularbreeding {
  ul {
    &.list {
      font-family: "Raleway-Medium";
          font-size: 16px;
    line-height: 24px;
      color: #000;
      float: left;
    width: 100%;
      li {
        position: relative;
        margin: 0px 0px 15px 15px;
        &:before {
              content: "";
    background-color: #000;
    width: 6px;
    height: 6px;
    border-radius: 28px;
    display: block;
    position: absolute;
    left: -15px;
    top: 10px;
        }
      }
    }
  }
}
.home-main {
  .hm-bannersec {
    z-index: 0;
  }
}
.ogfarm-main {
  &.smartsgriculture {
    .nav-tabs {
      .nav-item {
        button {
          border: none;
          background: transparent;
          opacity: 0.8;
          padding-left: 30px;
          outline: none !important;
          box-shadow: none !important;
          &::before {
            content: '';
            background-image: url(../../../assets/kiaar-web/images/research/arrow-white.svg);
            width: 20px;
            height: 30px;
            position: absolute;
            background-repeat: no-repeat;
            background-position: center;
            left: 0;
            top: 5px;
          }
        }
        &.active {
          button {
            background: transparent;
            color: #fff;
            opacity: 1;
            text-decoration: underline;
          }
        }
        ul {
          &.dropdown-menu {
            position: relative !important;
            padding: 5px 0px 0px 35px;
            margin: 0px;
            top: 0px;
            transform: inherit !important;
            float: left;
            width: 100%;
            color: #fff;
            background: transparent;
            border: none;
            li {
              position: relative;
              float: left;
              width: 100%;
              a {
                color: #fff;
                padding: 8px 0px 0px 0px !important;
                float: left;
                width: 100%;
                opacity: 0.7;
                &:hover {
                  opacity: 1;
                }
              }
              &:before {
                content: "";
                width: 3px;
                height: 3px;
                border-radius: 20px;
                position: absolute;
                left: -15px;
                top: 19px;
                background: #fff;
                background-repeat: no-repeat;
              }
            }
          }
        }
      }
    }
    .tabsmainsecs {
      .main-content {
        .tabs {
          border-radius: 10px;
          background-color: #F9F8F6;
          padding: 25px;
        }
        .tab-content {
          .tab-pane {
            float: left;
            width: 100%;
            a {
              float: left;
              width: 100%;
            }
          }
        }
      }
      .nav-tabs {
        .titles {
          display: none;
        }
      }
    }
    .tabs {
      .nav-tabs {
        a {
          &.nav-link {
            font-family: "Raleway-Semibold";
            color: #557A35 !important;
            font-size: 16px;
            background-color: transparent;
            border: none !important;
            position: relative;
            padding-left: 40px;
            border-radius: 0;
            &:before {
              content: "";
              background-image: url(../../../assets/kiaar-web/images/gallery/album.svg);
              width: 30px;
              height: 30px;
              background-repeat: no-repeat;
              position: absolute;
              left: 5px;
              top: 0px;
              background-size: 25px;
              top: 8px;
            }
          }
        }
      }

      li {
        &.nav-item {
          background-color: transparent !important;
          border: none !important;
          &:after {
            content: none;
          }
        }
      }
    }
  }
}
.sqi {
  ul {
    &.list {
      margin-bottom: 15px !important;
      li {
        position: relative;
        margin: 0px 0px 10px 15px;
      }
    }
  }
}
.nanogallery_colorscheme_dark_my_nanogallery {
  .nGY2GThumbnailImage {
    width: 100% !important;
    float: left;
    background: transparent !important;
  }
  .nGY2GThumbnail {
    border: none !important;
    width: calc(25% - 15px) !important;
    float: left;
    top: 0px !important;
    left: 0px !important;
    position: relative !important;
    margin-right: 15px;
    margin-bottom: 15px;
    background: transparent !important;
    border: none !important;
  }
}
.nGY2GallerySub {
  width: 100% !important;
  float: left;
}
.nGY2 {
  .nGY2GThumbnailImg {
    width: 100% !important;
    float: left;
    height: auto !important;
    left: 0px !important;
  }
  .nGY2GallerySub {
    height: auto !important;
    height: auto !important;
    float: left;
    width: 100%;
  }
  .nGY2GThumbnailSub {
    float: left;
    width: 100%;
  }
}
.nGY2Gallery {
  float: left;
  width: 100%;
}
.nGY2GThumbnailIconImageShare {
  display: none;
}

@media only screen and (max-width: 1370px) { 

section.collaborator-sec .box .para {

    padding: 0px 8%;
}

 }
@media only screen and (max-width: 1280px) { 
 section.collaborator-sec .box .img {

    height: 170px;
}
section.collaborator-sec .box .para {
    padding: 0px 5%;
}
section.collaborator-sec .box .para {
    padding: 0px 0%;
    min-height: 72px;
}
section.collaborator-sec .box {
    
    padding: 25px 25px 15px 25px;
   
}
.ogfarm-main.smartsgriculture {
    margin: 0px 0px 50px 0px;
}
}

@media only screen and (max-width: 1025px) {
section.collaborator-sec .col-md-4 {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 50%;
    flex: 0 0 50%;
    max-width: 50%;
}
.ogfarm-main.smartsgriculture .heading {
    margin-top: -60px;
}
.ogfarm-main.smartsgriculture {
    margin: 0px 0px 30px 0px;
}
.ogfarm-main.smartsgriculture .tabslist-wrapper .nav-link {

    font-size: 14px;
    line-height: 24px;
}
.ogfarm-main.smartsgriculture .tabsmainsecs .card-header button {
    font-size: 15px;}
}

@media only screen and (max-width: 768px) {
section.collaborator-sec .box {
    padding: 15px 25px 15px 25px;
}
section.collaborator-sec .box .img {

    margin: 0px 0px 15px 0px;}
    section.collaborator-sec .box .img {
    height: 130px;
}
section.collaborator-sec .main-title {
   
    font-size: 28px;
    line-height: 30px;
    margin: 0px 0px 15px 0px;
}
.mb50 {
    margin-bottom: 30px;
}
.ogfarm-main.smartsgriculture .heading {
    margin-top: -40px;
}
.mb50 {
  margin-bottom: 30px
}
.mb30 {
  margin-bottom: 20px
}
.ogfarm-main.smartsgriculture .tabsmainsecs .order-12 {

    -webkit-box-ordinal-group: 2;
    -ms-flex-order: 1;
    order: 1; -webkit-box-flex: 0;
    -ms-flex: 0 0 100%;
    flex: 0 0 100%;
    max-width: 100%;    padding: 0px;
}

.ogfarm-main.smartsgriculture .tabsmainsecs .order-1 {
    -webkit-box-ordinal-group: 13;
    -ms-flex-order: 12;
    order: 12;    -webkit-box-flex: 0;
    -ms-flex: 0 0 100%;
    flex: 0 0 100%;
    max-width: 100%;
}
.ogfarm-main .bgimgwrapper img {
    display: none;
}
.ogfarm-main.smartsgriculture .tabslist-wrapper {
    position: relative !important;
    top: 0px;
    float: left;
    width: 100%;
    left: 0px; border-radius: 8px;    margin-bottom: 70px;
}

.ogfarm-main .bgimgwrapper {
    height: auto;
    display: none;
}

.ogfarm-main.smartsgriculture .tabslist-wrapper::after {
    content: none;
}
.ogfarm-main.smartsgriculture .tabsmainsecs .nav-tabs {
   
    margin-bottom: 15px;
}
.ogfarm-main.smartsgriculture .tabslist-wrapper .sub-heading {
     margin: 0px 0px 0px 0px;
    position: relative;
    font-size: 20px;
}
.ogfarm-main.smartsgriculture .tabslist-wrapper .sub-heading:before {
  
    width: 15px;
    height: 20px;
  
    left: 0;
    top: 5px;
}
.ogfarm-main.smartsgriculture .tabslist-wrapper .menus {
    position: absolute;
    right: 30px;
    top: 15px;
    width: 15px;
    height: 15px;
    box-shadow: none;
    border: none;
    background: transparent;
}

.ogfarm-main.smartsgriculture.sustainable {
    float: left;
    width: 100%;
}

.ogfarm-main.smartsgriculture {
    float: left;
    width: 100%;
}
.ogfarm-main.smartsgriculture .tabslist-wrapper .menus i {
    font-size: 22px !important;
    color: #fff;
}

.ogfarm-main.smartsgriculture .tabslist-wrapper {
    padding: 10px 25px 10px 25px;
}
.ogfarm-main.smartsgriculture .tabslist-wrapper div#accordion {
    margin: 12px 0px 0px 0px;
}
.ogfarm-main.smartsgriculture .tabsmainsecs .nav-tabs .titles {
    display: block;
}
.ogfarm-main.smartsgriculture .tabsmainsecs .main-content .tabs .col-md-3 {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 100%;
    flex: 0 0 100%;
    max-width: 100%;
}
.ogfarm-main.smartsgriculture .tabsmainsecs .main-content .tabs .col-md-9 {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 100%;
    flex: 0 0 100%;
    max-width: 100%;
}

.ogfarm-main.smartsgriculture .tabsmainsecs ul.nav.nav-tabs {
    background: #557a351c !important;
    padding: 15px 15px 0px 15px !important;
    float: left;
    width: 100%;
    position: relative;
}
.ogfarm-main.smartsgriculture .tabsmainsecs .main-content div#list {
    margin-bottom: 15px;
}
.ogfarm-main.smartsgriculture .tabsmainsecs p.titles {
    font-family: "Raleway-Semibold";
    color: #557A35 !important;
    font-size: 18px;
    margin-bottom: 15px;
}

.ogfarm-main.smartsgriculture .tabsmainsecs button.menus {
    position: absolute;
    right: 20px;
    top: 20px;
    background: transparent;
    border: none;
}

.ogfarm-main.smartsgriculture .tabsmainsecs button.menus i {
    background: transparent;
    border: none;
    font-size: 18px !important;
    color: #fff !important;
}

.ogfarm-main.smartsgriculture .tabs .nav-tabs a.nav-link {
    font-size: 14px;
}
.ogfarm-main.smartsgriculture .tabsmainsecs ul.nav.nav-tabs li {
    display: none;
    height: 0px;
    transition: all ease 0.5s;
}

.ogfarm-main.smartsgriculture .tabsmainsecs ul.nav.nav-tabs.open li {
    display: block;
    height: auto;
    transition: all ease 0.5s;
}
}




@media only screen and (min-width: 768.5px) {
  div#accordion {
    display: block !important;
}
.ogfarm-main.smartsgriculture .tabslist-wrapper .menus {
    display: none;
}
.ogfarm-main.smartsgriculture .tabsmainsecs .nav-tabs div#list {
    display: block;
}
}

@media only screen and (max-width: 767.5px) {
.ogfarm-main.smartsgriculture .tabsmainsecs .order-12 {

    -webkit-box-ordinal-group: 2;
    -ms-flex-order: 1;
    order: 1;
}

.ogfarm-main.smartsgriculture .tabsmainsecs .order-1 {
    -webkit-box-ordinal-group: 13;
    -ms-flex-order: 12;
    order: 12;
}
}
@media only screen and (max-width: 666px) {
.ogfarm-main.smartsgriculture .tabsmainsecs .main-content .title.big {
 
    font-size: 22px;
    line-height: 41px;
 
}
}
@media only screen and (max-width: 555px) {
.ogfarm-main.smartsgriculture .tabsmainsecs .main-content .img img {
    width: 100%;
    float: left;
}
.nanogallery_colorscheme_dark_my_nanogallery .nGY2GThumbnail {
    width: calc(100% - 0px) !important;}
}
@media only screen and (max-width: 480px) {
section.collaborator-sec .box .img img {
    width: 70%;
  }

  section.collaborator-sec .four .box .img img {
    width: 100%;
}
section.collaborator-sec .five .box .img img {
    width: 100%;
}
section.collaborator-sec .six .box .img img {
    width: 100%;
}
section.collaborator-sec .col-md-4 {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 100%;
    flex: 0 0 100%;
    max-width: 100%;
}
section.collaborator-sec .box .img img {
    width: 40%;
}
section.collaborator-sec .box .para {
    padding: 0px 0%;
    min-height: auto;
}
section.collaborator-sec .four .box .img img {
    width: 85%;
}
section.collaborator-sec .five .box .img img {
    width: 85%;
}
section.collaborator-sec .six .box .img img {
    width: 60%;
}
.ogfarm-main.sustainable .tabsmainsecs .main-content .title {
    font-size: 16px;
    line-height: 27px;}

    .ogfarm-main.smartsgriculture .tabsmainsecs .main-content .title.big {
 
    font-size: 20px;
    line-height: 40px;
 
}
 .ogfarm-main.smartsgriculture .tabsmainsecs button.menus {

    right: 20px;
    top: 13px;
   
}   
.ogfarm-main.smartsgriculture .tabsmainsecs ul.nav.nav-tabs {

    padding: 5px 5px 0px 5px !important;
  
}
}

